* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    overflow-x: hidden;
}

h1 {
    font-family: var(--main-text-font);
    color: var(--main-text-color);
}

p {
    font-family: var(--second-text-font);
}

:root {
    --main-text-color: #5546C5;
    --main-text-hover:#695dc9;
    --main-text-opacity: rgba(85, 70, 197, 0.154);
    --main-text-font: Eurostile;
    --second-text-font: EuropaNuova-Regular;

    --second-text-color: #6c757d;
    --bg-color: #0A0A0A;

    --circle-size: 80px;
    --hover-button-text: white;

    --i-social-media: #251D60;
}

#body-home {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    margin: 0 auto;
    height: 100vh;
}

#main-text {
    font-family: EuropaNuova;
    color: var(--main-text-color);
}

#btn {
    color: var(--main-text-color);
    margin-top: 2em;
    padding: .40em;
    background: none;
    font-size: 1.1em;

    border: 1.7px solid var(--main-text-color);
    border-radius: 2em;

    transition: 200ms;
    cursor: pointer;
}

#btn a {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: europanuova;
    font-weight: 100;
}

#btn:hover, #btn a:hover, #btn:focus, #btn a:focus {
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
    #section-home {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    #btn {
        width: 50% !important;
    }

    /* RIGHT PART */
    #article-home {
        display: none;
    }
}
/* NAVBAR GENERAL */
.navbar {
    font-family: europanuova;
}

.navbar a { 
    transition: 300ms;
}

.navbar a:hover {
    font-size: 16.5px;
    color: rgb(159, 159, 159) !important;
}

.navbar-toggler {
    background-color: var(--main-text-color) !important;
}

/* SERVICES, ABOUT AND LANGUAJES */
#body-services {
    height: 100vh;
    background-color: var(--bg-color);
}

#main-services {
    height: 90%;    
}

.icon {
    font-size: 5em;
    border-radius: 9px;
    margin: 0.1em;
    margin-left: 0;
    padding: 0.15em;
    background-color: var(--second-text-color);
}

#border-facepic {
    border: 10px solid var(--main-text-color);
}

/* PROYECTS */

#body-proyects {
    height: 100vh;
    background-color: var(--bg-color);
}

#section-proyects {
    color: var(--main-text-color);
}

/* LETRAS MORADAS DE LAS CARDS */
#anchor {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: europanuova;
    transition: 200ms;
}

#anchor:hover {
    color: var(--main-text-hover);
}

@media screen and (min-width:768px) {
    .display-none {
        display: none;
    }
}

@media screen and (min-width: 1200px ){
    .display-none {
        display: inline;
    }
}

/* SECCION DE CONTACTO */
#body-contacto {
    background-color: var(--bg-color);
    height: 100vh;
}

#main-contacto {
    height: 90%;
}

.icons-contact {
    font-size: 3em;
    color: var(--main-text-color);
    background-color: var(--i-social-media);
    padding: 1em;
    width: 200px;
}

/* SECCION DE FORMULARIO */
.labels-h {
    color: var(--main-text-color);
}

#body-form {
    background-color: var(--bg-color);
    height: 100vh;
}

#main-form {
    height: 90%;
}

.label-style {
    outline: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    transition: 200ms;
    border: 1px solid var(--main-text-color);
    text-emphasis-color: white;
    width: 500px;
}

.label-style:focus {
    background-color: rgb(244, 244, 244);
    border: 3px solid var(--main-text-color);
}

/* BOTON ENVIAR */
.enviar {
    color: var(--main-text-color);
    margin-top: 2em;
    padding: .40em;
    background: none;
    font-size: 1.1em;

    border: 1.7px solid var(--main-text-color);
    /* border-radius: 2em; */

    transition: 200ms;
    cursor: pointer;
}

.enviar {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: europanuova;
    font-weight: 100;
}

.enviar:hover, .enviar:focus {
    background-color: var(--main-text-color);
    color: white;
}

@media screen and (max-width:576px) {
    .label-style {
        outline: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
        transition: 200ms;
        border: 1px solid var(--main-text-color);
        text-emphasis-color: white;
        width: 320px;
    }
}